<h1>Hot Weather Widget | {{activePlace.name}}</h1>

<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img [src]="activePlace?.images[0]" alt="" class="img-responsive"></div>
    <app-area-points [activePlace]="activePlace" [places]="places" (choosePlace)="activePlace=$event"></app-area-points>
  </div>
  <div class="element-right">
    <app-temperatur [activePlace]="activePlace"></app-temperatur>
    <app-teddy-bear [activePlace]="activePlace"></app-teddy-bear>
  </div>
  <div class="clear"></div>
</div>

<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
    W3layouts </a></p>
</div>